.welcome {
    position: relative;          
    display: inline-block;       
    left: 50%;                 
    transform: translate(-50%);
}


.welcome-container {
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
}

button {
    margin: 0.5rem;
}