<div class="welcome-container">
    <div class="welcome mat-display-2"><p style="text-align: center;">'Machine learning - The next step in Workforce Management'</p></div><br>
    <div class="welcome mat-display-1"><p style="text-align: center;">Estimate the annual employee turnover for the next fiscal year!</p></div><br>
    <!-- <div class="welcome mat-headline">Check out the recruitment budget calculator</div><br> -->
    <div id="canvasContainer" [hidden]="!predictChart2">
        <canvas id="predictCanvas2">{{ predictChart2 }}</canvas>
    </div>
    <div class="welcome">
        <button color="primary" (click)="trainET()" mat-stroked-button>Train your predictor</button>
        <button color="accent" (click)="predictET()" mat-raised-button>Predict employee turnover</button>
        <hr>
        <!-- <button color="accent" *ngIf="!this.showCalculator" (click)="this.showCalculator = true" mat-stroked-button>Show Calculator</button>
        <button color="accent" *ngIf="this.showCalculator" (click)="this.showCalculator = false" mat-stroked-button>Hide Calculator</button> -->
    </div><br>
    <div *ngIf="this.showPrediction" class="welcome">
        <div class="mat-title">Employee turnover is {{this.employeeTurnover}} %</div>
    </div>
  
    <!-- <div class="welcome">
        <button color="primary" [routerLink]="['/dashboard']" mat-flat-button>Go to dashboard</button>
    </div> -->
  </div>
  
  <form [formGroup]="calculatorForm" (submit)="calculate()" class="calculator-form">
    <div id="titleCalc" class="mat-title">Recruitment budget calculator</div>
    <div>
        <div>
            <mat-form-field color="primary" hideRequiredMarker>
                <mat-label>Recruitment team size</mat-label>
                <input type="number" min="1" matInput formControlName="teamSize" required>
                <mat-error *ngIf="calculatorForm.controls.teamSize.touched && calculatorForm.controls.teamSize.invalid">
                    <span *ngIf="calculatorForm.controls.teamSize.errors.required">Recruitment team size is required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" hideRequiredMarker>
                <mat-label>Recruitment rate</mat-label>
                <input type="number" min="1" matInput formControlName="rate" required>
                <mat-hint>Number of candidates recruited per day</mat-hint>
                <mat-error *ngIf="calculatorForm.controls.rate.touched && calculatorForm.controls.rate.invalid">
                    <span *ngIf="calculatorForm.controls.rate.errors.required">Recruitment rate is required</span>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-title">Travel</div>
        <div>
            <mat-form-field color="primary" hideRequiredMarker>
                <mat-label>Group expenses</mat-label>
                <input type="number" min="0" matInput formControlName="grpTravel" required>
                <mat-hint>Bus, car, etc</mat-hint>
                <span matPrefix>&#x20B9;&nbsp;</span>
                <mat-error *ngIf="calculatorForm.controls.grpTravel.touched && calculatorForm.controls.grpTravel.invalid">
                    <span *ngIf="calculatorForm.controls.grpTravel.errors.required">Group travel expenses is required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field color="primary" hideRequiredMarker>
                <mat-label>Individual expenses</mat-label>
                <input type="number" min="0" matInput formControlName="indTravel" required>
                <mat-hint>Flight, train, etc</mat-hint>
                <span matPrefix>&#x20B9;&nbsp;</span>
                <mat-error *ngIf="calculatorForm.controls.indTravel.touched && calculatorForm.controls.indTravel.invalid">
                    <span *ngIf="calculatorForm.controls.indTravel.errors.required">Individual travel expenses is required</span>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-title">Accomodation</div>
        <div>
            <mat-form-field color="primary" hideRequiredMarker>
                <mat-label>Accomodation per person</mat-label>
                <input type="number" min="0" matInput formControlName="acc" required>
                <span matPrefix>&#x20B9;&nbsp;</span>
                <mat-error *ngIf="calculatorForm.controls.acc.touched && calculatorForm.controls.acc.invalid">
                    <span *ngIf="calculatorForm.controls.acc.errors.required">Accomodation expenses is required</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="accent" type="submit">Calculate</button>
  </form><br>
  <div *ngIf="this.showCalculated" class="welcome">
    <div class="mat-title">Recruitment budget estimate is &#x20B9; {{this.result}}</div>
  </div>