<mat-toolbar color="primary" class="navbar">
    <div>
        <button *ngIf="loggedIn()" mat-flat-button color="primary" (click)="toggle()" disableRipple><mat-icon>menu</mat-icon></button>
        Workforce Manager
    </div>
    <div *ngIf="loggedIn()">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="menu" disableRipple><mat-icon>person</mat-icon> Welcome {{this.authService.currentUser.firstName}}<mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
    <div *ngIf="!loggedIn()">
        <button mat-flat-button color="primary" [routerLink]="['/login']">Login</button>
    </div>
</mat-toolbar>