<mat-sidenav-container>
  <mat-sidenav *ngIf="loggedIn()" [(opened)]="opened" mode="side"> 
    <img class="logo" src="../assets/icon.png">
    <mat-divider></mat-divider>
    <mat-list>

      <a *ngIf="this.authService.currentUser.jobRole === 'Human Resources'" mat-list-item [routerLink]="['/dashboard']" disableRipple>
        <mat-icon color="primary">dashboard
        </mat-icon> Dashboard
      </a>

      <a mat-list-item [routerLink]="['/profile']" disableRipple>
        <mat-icon color="primary">contact_page
        </mat-icon> Profile
      </a>

      <a *ngIf="this.authService.currentUser.jobRole === 'Manager'" mat-list-item [routerLink]="['/team']" disableRipple>
        <mat-icon color="primary">group</mat-icon> Your team
      </a>

      <a *ngIf="this.authService.currentUser.jobRole === 'Human Resources'" mat-list-item [routerLink]="['/employees']" disableRipple>
        <mat-icon color="primary">groups</mat-icon> All employees
      </a> 

      <a *ngIf="this.authService.currentUser.jobRole === 'Human Resources'" mat-list-item [routerLink]="['/predictor']" disableRipple>
        <mat-icon color="primary">calculate</mat-icon> Predictor
      </a>

      <!-- TEST CODE - ABOVE CODE FOR PRODUCTION -->

      <!--
      <a mat-list-item [routerLink]="['/dashboard']" disableRipple>
        <mat-icon color="primary">dashboard
        </mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="['/team']" disableRipple>
        <mat-icon color="primary">group</mat-icon> Your team
      </a>
      <a mat-list-item [routerLink]="['/employees']" disableRipple>
        <mat-icon color="primary">groups</mat-icon> All employees
      </a>
      <a mat-list-item [routerLink]="['/predictor']" disableRipple>
        <mat-icon color="primary">calculate</mat-icon> Predictor
      </a> -->

      <!-- TEST CODE -->
      
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-title (toggleOpened)="toggleSideNav($event)"></app-title>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


    <!-- <app-home></app-home><br> -->
    <!-- <app-profile></app-profile> -->
    <!-- <app-manage-employees></app-manage-employees> -->
    <!-- <app-test></app-test> -->
    <!-- <app-manage-team></app-manage-team> -->