<mat-sidenav-container>
  <mat-sidenav [opened]="false"> 
    <!-- <img class="logo" src="../assets/icon.png"> -->
    <mat-divider></mat-divider>
    <mat-list>
      <a mat-list-item [routerLink]="['/dashboard']" disableRipple>
        <mat-icon color="primary">dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="['/leave/new']" disableRipple>
        <mat-icon color="primary">book_online</mat-icon> Apply leave request
      </a>
      <a mat-list-item [routerLink]="['/entitlement']" disableRipple>
        <mat-icon color="primary">timeline</mat-icon> Leave entitlement
      </a>
      <a mat-list-item [routerLink]="['/history']" disableRipple>
        <mat-icon color="primary">history</mat-icon> Leave  history
      </a>
      <a mat-list-item [routerLink]="['/requests']" disableRipple>
        <mat-icon color="primary">event</mat-icon> Requests
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-title></app-title>
    <!-- <router-outlet></router-outlet> -->
    <app-home></app-home><br>
    <!-- <app-profile></app-profile> -->
    <app-manage-employees></app-manage-employees>
    <!-- <app-test></app-test> -->
    <!-- <app-manage-team></app-manage-team> -->
  </mat-sidenav-content>
</mat-sidenav-container>