.dashboard-card {
    max-width: 500px;
    min-height: 250px;
    padding: 2rem;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.mat-title {
    margin-top: 4rem;
    margin-left: 8rem;
}

.mat-subheading-2 { 
    display: inline;
    color: #535353;
    text-decoration: bold;
}

.mat-display-1 {
    display: inline;
    margin-left: 3rem;
}

mat-grid-list{
    margin-left: 6rem;
    margin-right: 15%;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

mat-grid-tile{
    /* background-color: purple; */
}