.dashboard-card {
    /* max-width: 500px; */
    min-width: 300px;
    min-height: 250px;
    padding: 2rem;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.small-canvas{
    width: 30%;
    display: inline-block;
}

.mat-title {
    margin-top: 4rem;
    margin-left: 8rem;
}

.mat-subheading-2 { 
    display: inline;
    color: #535353;
    text-decoration: bold;
}

canvas {
    width: 30%;
}

.mat-display-1 {
    display: inline;
    margin-left: 3rem;
}

mat-grid-list{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

button {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    opacity: 0.85;
}